#titulo {
  text-shadow: 2px 2px red;
}
#linea1 {
  background-color: yellow;
}
#bla {
  color: green;
}
#linea3y4 {
  color: white;
  background-color:black
}
#susos {
  color:blue;
}
#jaja {
  text-shadow:10px 10px pink
  font-size: 50px;
}
